h2 {
    font-size:40px;
    padding:30px;
    text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

.grid-item button {
    
    
    border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
    margin-top: 50px;
    
    
    
}

